

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}




.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.dropdown {
  position: relative;
  display: inline-block;
  font-family: Arial;
}

.dropdown-button {
  background: #000;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #666;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-list {
  position: absolute;
  bottom: 100%;
  left: 2px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 94%;
  z-index: 1000;
}

.dropdown-item {
  color: #000;
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.dropdown-item:hover {
  background-color: #2979ff;
  color: white;
}

.dropdown-item.selected {
  background-color: #2979ff;
  color: white;
}
.link-style {
  text-decoration: none;
}

.link-style:hover {
  text-decoration: underline;
}
.cardnumber{
  width: 406px;
}
.date{
  width: 181px;
  margin-right:10px ;
}
.CVV{
  width: 181px;
}